<div class="container">
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col" colspan="2">BOOK DETAIL</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>ISBN:</td>
      <td>{{book.ISBN}}</td>
    
    </tr>
    <tr>
    
      <td>TITLE:</td>
      <td>{{book.Title}}</td>
      
    </tr>
    <tr>
      <td>AUTHOR:</td>
      <td>{{book.Author}}</td>
      
    </tr>
    <tr>
      <td>GENRE:</td>
      <td>{{book.Genre}}</td>
      
    </tr>
    <tr>
      <td>PUBLISHING DATE</td>
      <td>{{book.Publication_Date}}</td>
      
    </tr>
     <tr>
      <td>PUBLISHER:</td>
      <td>{{book.Publisher}}</td>
      
    </tr>
     <tr>
      <td>FORMAT:</td>
      <td>{{book.Format}}</td>
      
    </tr>
     <tr>
      <td>PRICE:</td>
      <td>{{book.Price}}</td>
      
    </tr>
    
        
  </tbody>
</table>
 <button (click)="goBack()">Back</button>
</div>